{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
    <meta charset="UTF-8">
    <title>Home</title>
    <div class="page-header">
            <h1 style="text-align: center;"><img width="144" src="{% static 'backtrack.svg' %}" alt="Backtrack"/></h1>
    </div>
</head>
<body>
   {% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <br>
  <br>
  <div>
    <a href="{% url 'logout' %}"><button>Logout</button></a>
  </div>
{% else %}
  You are not logged in.
  <br>
  <br>
  <div>
    <a href="{% url 'login' %}"><button>Login</button></a>
  </div>
{% endif %}
{% endblock %}

</body>
</html>