{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/template.css' %}">
        <title> Project List </title>
        <div class="page-header">
            <h1 style="text-align: center;"><img width="144" src="{% static 'backtrack.svg' %}" alt="Backtrack"/></h1>
        </div>
        <h2> DSG Projects </h1>
        <style></style>
    </head>
    <body>
    {% block content %}
    {% if user.is_authenticated %}
        <form action="projects/create-new-project">
            <button type="submit">Create New Project</button>
        </form>
        <p> Current Projects</p>
            <table>
                    <tr>
                        <th>Project Name</th>
                        <th>Details</th>
                    </tr>
                    {% for project in project_list1 %}
                    <tr>
                        <td> {{ project.name }} </td>
                        <td>
                            <form action="projects/{{project.id}}">
                                <button type="submit">View Project</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
            </table>
        <p> Completed Projects</p>
            <table>
                <tr>
                    <th>Project Name</th>
                    <th>Details</th>
                </tr>
                {% for project in project_list2 %}
                <tr>
                        <td> {{ project.name }} </td>
                        <td>
                            <form action="projects/{{project.id}}">
                                <button type="submit">View Project</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
            </table>

    </body>
    {%else%}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
    {% endblock %}
</html>
