<!DOCTYPE html>
<html>
    <head>
        <title> Project List </title>
        <h1> DSG Projects </h1>
    </head>
    <body>
        <form action="projects/create-new-project">
         <button type="submit">Create New Project</button>
        </form>
        <p> Current Projects</p>
            <ul>
                {% for project in project_list1 %}
                    <li>{{ project.name }}</li>
                    <form action="projects/{{project.id}}">
                        <button type="submit">view project</button>
                    </form>
                {% endfor %}
            </ul>

        <p> Completed Projects</p>
            <ul>
                {% for project in project_list2 %}
                    <li>{{ project.name }}</li>
                    <form action="projects/{{project.id}}">
                        <button type="submit">view project</button>
                    </form>
                {% endfor %}
            </ul>

    </body>
</html>


<!--<ul>-->
<!--{% for project in project_list %}-->

    <!--<li>[{{ project.name }}] </li>-->
    <!--<li>-->
        <!--<a href="{% url 'project' project.pk %}"> {{ project.name }}</a>-->
    <!--</li>-->

<!--</ul>-->
<!--{% for item in order.items.all %}-->
<!--<li>{{ item.name }} ({{ item.price }})</li>-->
<!--{% endfor %}-->
<!--</ul>-->
<!--</li>-->
<!--{% empty %}-->
<!--<li>No order yet.</li>-->
<!--{% endfor %}-->
<!--</ul>-->