{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/template.css' %}">
        <title>Project Details: {{ project }}</title>
        <div class="page-header">
            <h1 style="text-align: center;"><img width="144" src="{% static 'backtrack.svg' %}" alt="Backtrack"/>
                logged in as {{ user }}
                <form action="/">
                    <button type="submit">Logout</button>
                </form>
            </h1>
        </div>
        <h2>Project Details: {{ project }}</h2>
        <style></style>
    </head>
    <body>
    {% block content %}
    {% if user.is_authenticated %}

    <!--Create New Sprint -->
    <form action="{{project.id}}/{{product_backlog.id}}/create-new-sprint">
        <button type="submit"
            class="btn btn-default">
            Create New Sprint
        </button>
    </form>

    <!--Completed sprints-->
        <p> Completed Sprint Backlogs
            <button type="button"
                    id="showHideButton"
                    onclick="showHide()"
                    class="btn btn-default">
                Show
            </button>
        </p>
        <script>
        function showHide() {
            if (document.getElementById("showHideButton").innerHTML != "Hide") {
                document.getElementById("showHideButton").innerHTML = "Hide";
                document.getElementById("completedSprints").style.display = "block";
            }
            else {
                document.getElementById("showHideButton").innerHTML = "Show";
                document.getElementById("completedSprints").style.display = "none";
            }
        }
        </script>
        <div id="completedSprints" style="display: none;">
        <!-- Completed sprints code-->
            <ul> {% for sprint in sprint_list_done %}
                <li>
                    Sprint {{ sprint.name }} Backlog
                </li>
                <br>
                {% if sprint.pbiList %}
                <table>
                    <tr>
                        <th>Sprint Backlog Item Name</th>
                        <th>Description</th>
                        <th>Tasks Not Yet Started</th>
                        <th>Tasks In Progress</th>
                        <th>Tasks Completed</th>
                        <th>Estimated Effort Hours</th>
                        <th>Actual Effort Hours</th>
                        <th>Work Remaining</th>
                    </tr>
                    {% for pbi in sprint.pbiList %}
                    <tr>
                        <td> {{ pbi.name }} </td>
                        <td> {{ pbi.description }} </td>
                        <td></td>
                        <td></td>
                        <td>
                            {% for complete in pbi.tasks_complete %}
                            <form action="product-backlog/{{pbi.id}}/{{complete.id}}">
                                <button type="submit"
                                        class="btn btn-default">
                                    {{ complete.name }}
                                </button>
                            </form>
                            {% endfor %}
                        </td>
                        <td> {{ pbi.tasks_cummulative_effort_hours}} </td>
                        <td> {{ pbi.tasks_actual_effort_hours}} </td>
                        <td> {{ pbi.tasks_work_remaining}} </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <div>
                </div>
                {% endif %}
                {% empty %}
                <div>
                    No sprints completed yet.
                </div>
                {% endfor %}
            </ul>
        </div>

    <hr>


    <!--Not yet started sprints-->
        <p> Not Yet Started Sprint Backlogs
            <button type="button"
                    id="showHideButtonNotStarted"
                    onclick="showHideNoStartedSprint()"
                    class="btn btn-default">
                Show
            </button>
        </p>
        <script>
        function showHideNoStartedSprint() {
            if (document.getElementById("showHideButtonNotStarted").innerHTML != "Hide") {
                document.getElementById("showHideButtonNotStarted").innerHTML = "Hide";
                document.getElementById("notStartedYetSprints").style.display = "block";
            }
            else {
                document.getElementById("showHideButtonNotStarted").innerHTML = "Show";
                document.getElementById("notStartedYetSprints").style.display = "none";
            }
        }
        </script>
        <div id="notStartedYetSprints" style="display: none;">
        <!-- not yet started sprints code-->
            <ul> {% for sprint in sprint_list_not_yet_started %}
                <li>
                    Sprint {{ sprint.name }} Backlog
                </li>
                <form action="product-backlog/sprint-backlog/{{sprint.id}}">
                    <button type="submit"
                            class="btn btn-default">
                                edit sprint status
                    </button>
                </form>
                <br>
                {% if sprint.pbiList %}
                <table>
                    <tr>
                        <th>Sprint Backlog Item Name</th>
                        <th>Description</th>
                        <th>Tasks Not Yet Started</th>
                        <th>Tasks In Progress</th>
                        <th>Tasks Completed</th>
                        <th>Estimated Effort Hours</th>
                        <th>Actual Effort Hours</th>
                        <th>Work Remaining</th>
                    </tr>
                    {% for pbi in sprint.pbiList %}
                    <tr>
                        <td> {{ pbi.name }}
                            <form action="{{project.id}}/{{sprint_current.id}}/{{pbi.id}}/create-new-task">
                                <button type="submit"
                                        class="btn btn-default">
                                Add Task
                                </button>
                            </form>
                        </td>
                        <td> {{ pbi.description }} </td>
                        <td>
                            {% for not_yet_started in pbi.tasks_not_yet_started %}
                            <form action="product-backlog/{{pbi.id}}/{{not_yet_started.id}}">
                                <button type="submit"
                                        class="btn btn-default">
                                    {{ not_yet_started.name }}
                                </button>
                            </form>
                        {% endfor %}
                        </td>
                        <td>
                            {% for in_progress in pbi.tasks_in_progress %}
                            <form action="product-backlog/{{pbi.id}}/{{in_progress.id}}">
                                <button type="submit"
                                        class="btn btn-default">
                                    {{ in_progress.name }}
                                </button>
                            </form>
                            {% endfor %}
                        </td>
                        <td>
                            {% for complete in pbi.tasks_complete %}
                            <form action="product-backlog/{{pbi.id}}/{{complete.id}}">
                                <button type="submit"
                                        class="btn btn-default">
                                    {{ complete.name }}
                                </button>
                            </form>
                            {% endfor %}
                        </td>
                        <td> {{ pbi.tasks_cummulative_effort_hours}} </td>
                        <td> {{ pbi.tasks_actual_effort_hours}} </td>
                        <td> {{ pbi.tasks_work_remaining}} </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <div>
                </div>
                {% endif %}
                {% empty %}
                <div>
                    No sprints not started yet.
                </div>
                {% endfor %}
            </ul>
        </div>

<hr>

        <!-- Current Sprint-->
        <p> {% if sprint_current == None %}
            <form action="{{project.id}}/{{product_backlog.id}}/create-new-sprint">
                <button type="submit"
                        class="btn btn-default">
                    Create New Sprint
                </button>
            </form>
            {% else %}

            Current Sprint Backlog {{ sprint_current.name }} &nbsp;&nbsp;&nbsp;&nbsp; <font size="-1.5"> Total Story Points: {{ sprint_current.sprint_total_story_points}}</font>&nbsp;&nbsp;&nbsp;&nbsp; <font size="-1.5"> Total Effort Hours: {{ sprint_current.sprint_actual_effort_hours}}</font>&nbsp;&nbsp;&nbsp;&nbsp; <font size="-1.5"> Total Work Remaining: {{ sprint_current.sprint_work_remaining}}</font>

            <form action="product-backlog/sprint-backlog/{{sprint_current.id}}">
                <button type="submit"
                        class="btn btn-default">
                            edit sprint status
                </button>
            </form>

            {% if sprint_current.pbiList %}
            <table>
                <tr>
                    <th>Sprint Backlog Item Name</th>
                    <th>Description</th>
                    <th>Tasks Not Yet Started</th>
                    <th>Tasks In Progress</th>
                    <th>Tasks Completed</th>
                    <th>Estimated Effort Hours</th>
                    <th>Actual Effort Hours</th>
                    <th>Work Remaining</th>
                </tr>
                {% for pbi in sprint_current.pbiList %}
                <tr>
                    <td> {{ pbi.name }}
                        <form action="{{project.id}}/{{sprint_current.id}}/{{pbi.id}}/create-new-task">
                            <button type="submit"
                                    class="btn btn-default">
                            Add Task
                            </button>
                        </form>
                    </td>
                    <td> {{ pbi.description }} </td>
                    <td>
                        {% for not_yet_started in pbi.tasks_not_yet_started %}
                        <form action="product-backlog/{{pbi.id}}/{{not_yet_started.id}}">
                            <button type="submit"
                                    class="btn btn-default">
                                {{ not_yet_started.name }}
                            </button>
                        </form>
                        {% endfor %}
                    </td>

                    <td>
                        {% for in_progress in pbi.tasks_in_progress %}
                        <form action="product-backlog/{{pbi.id}}/{{in_progress.id}}">
                            <button type="submit"
                                    class="btn btn-default">
                                {{ in_progress.name }}
                            </button>
                        </form>
                        {% endfor %}
                    </td>

                    <td>
                        {% for complete in pbi.tasks_complete %}
                        <form action="product-backlog/{{pbi.id}}/{{complete.id}}">
                            <button type="submit"
                                    class="btn btn-default">
                                {{ complete.name }}
                            </button>
                        </form>
                        {% endfor %}
                    </td>
        
                    <td> 
                        {{ pbi.tasks_cummulative_effort_hours}} 
                    </td>
                    <td> 
                        {{ pbi.tasks_actual_effort_hours}} 
                    </td>
                    <td> 
                        {{ pbi.tasks_work_remaining}} 
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <div>
            </div>
            {% endif %}
            {% endif %}
        </p>

    <hr>

    <!-- Product Backlog-->
    <p> Product Backlog
        <form action="{{project.id}}/{{product_backlog.id}}/create-new-pbi">
            <button type="submit"
                    class="btn btn-default">
                Add Product Backlog Item
            </button>
        </form>
    </p>
        <button type="button"
                    id="showHideCompletedPBIsButton"
                    onclick="showHideCompletedPBIs()"
                    class="btn btn-default">
                Show Completed PBIs
        </button>
        <script>
        function showHideCompletedPBIs() {
            var completedPbiList = document.getElementsByClassName("completedPBI");
            var i;
            if (document.getElementById("showHideCompletedPBIsButton").innerHTML != "Hide Completed PBIs") {
                document.getElementById("showHideCompletedPBIsButton").innerHTML = "Hide Completed PBIs";
                for (i = 0; i < completedPbiList.length; i++) {
                    completedPbiList[i].style.display = "";
                }
            }
            else {
                document.getElementById("showHideCompletedPBIsButton").innerHTML = "Show Completed PBIs";
                for (i = 0; i < completedPbiList.length; i++) {
                    completedPbiList[i].style.display = "none";
                }
            }
        }
        </script>
        {% if product_backlog.pbiList %}
        <table>
            <tr>
                <th>Product Backlog Item Name</th>
                <th>Description</th>
                <th>Story Points</th>
                <th>Cumulative Story Points</th>
                <th>Status</th>
                <th>Priority</th>
            </tr>
            {% for pbi, c_point in pbi_and_cumulative_points %}
            {% if pbi not in completed_pbi_list %}
            <tr>
                <td> {{ pbi.name }}
                    <form action="product-backlog/pbi/{{pbi.id}}">
                        <button type="submit"
                                class="btn btn-default">
                            edit
                        </button>
                    </form>
                    <form action="product-backlog/pbi/delete-{{pbi.id}}">
                        <button type="submit"
                                class="btn btn-default">
                            delete
                        </button>
                    </form>
                </td>
                <td> {{ pbi.description }} </td>
                <td> {{ pbi.pointEstimate }} </td>
                <td> {{c_point }} </td>
                <td> {{ pbi.status }} </td>
                <td> {{ pbi.priority }} </td>
            </tr>
            {% else %}
            <tr class="completedPBI" style="display: none;">
                <td> {{ pbi.name }}
                    <form action="product-backlog/pbi/{{pbi.id}}">
                        <button type="submit"
                               class="btn btn-default">
                            edit
                        </button>
                    </form>
                    <form action="product-backlog/pbi/delete-{{pbi.id}}">
                        <button type="submit"
                                class="btn btn-default">
                            delete
                        </button>
                    </form>
                </td>
                <td> {{ pbi.description }} </td>
                <td> {{ pbi.pointEstimate }} </td>
                <td>-</td>
                <td> {{ pbi.status }} </td>
                <td> {{ pbi.priority }} </td>
            </tr>
            {% endif %}
            {% endfor %}
    </table>
    {% else %}
    <div>
        The product backlog is empty.
    </div>
    {% endif %}
    </body>
    {%else%}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
    {% endblock %}
</html>
