<!DOCTYPE html>
<html>
    <head>
        <title>Project Details</title>

        <h1>Project Details: {{ project }}</h1>

        <style>
                body {
                  /*background-color: lightblue;*/
                  font-family: "Trebuchet MS";
                  font-size: 14px;
                }
                
                p {
                  font-size: 20px;
                }

                button {
                    background-color: #555555;
                    border: none;
                    color: white;
                    padding: 6px;
                    border-radius: 2px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                }

                table {
                    font-family: arial, sans-serif;
                    border-collapse: collapse;
                    width: 70%;
                }
                
                td, th {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                }
                
                tr:nth-child(even) {
                    background-color: #dddddd;
                }
        </style>

    </head>

    <!--Completed sprints-->
        <p> Completed Sprint Backlogs
            <button type="button"
                    id="showHideButton"
                    onclick="showHide()"
                    class="btn btn-default">
                Show
            </button>
        </p>

        <script>
        function showHide() {
            if (document.getElementById("showHideButton").innerHTML == "Show") {
                document.getElementById("showHideButton").innerHTML = "Hide";
                document.getElementById("completedSprints").style.display = "block";
            }
            else {
                document.getElementById("showHideButton").innerHTML = "Show";
                document.getElementById("completedSprints").style.display = "none";
            }
        }
        </script>

        <div id="completedSprints" style="display: none;">
        <!-- Completed sprints code-->
            <ul> {% for sprint in sprint_list_done %}
                <li>
                    Sprint {{ sprint.name }} Backlog
                </li>
                 <table>
                    <tr>
                        <th>Sprint Backlog Item Name</th>
                        <th>Description</th>
                        <th>Tasks Not Yet Started</th>
                        <th>Tasks In Progress</th>
                        <th>Tasks Completed</th>
                    </tr>
                    {% for pbi in sprint.productbacklog_set.all %}
                    <tr>
                        <td> {{ pbi.name }} </td>
                        <td> {{ pbi.description }} </td>
                    </tr>
                    {% endfor %}
                </table>

                {% endfor %}
            </ul>

        </div>

    <hr>

        <!-- Current Sprint-->
        <p> {% if sprint_current == None %}
            <form action="{{project.id}}/{{product_backlog.id}}/create-new-sprint">
                <button type="submit"
                        class="btn btn-default btn-lg">
                    Create New Sprint
                </button>
            </form>
            {% else %}

            Current Sprint Backlog {{ sprint_current.name }} &nbsp;&nbsp;&nbsp;&nbsp; <font size="-1.5"> Total Story Points: {{ sprint_current.sprint_cummulative_effort_hours}}</font>&nbsp;&nbsp;&nbsp;&nbsp; <font size="-1.5"> Total Effort Hours: {{ sprint_current.sprint_actual_effort_hours}}</font>&nbsp;&nbsp;&nbsp;&nbsp; <font size="-1.5"> Work Remaining: {{ sprint_current.sprint_work_remaining}}</font>
        <table>
            <tr>
                <th>Sprint Backlog Item Name</th>
                <th>Description</th>
                <th>Tasks Not Yet Started</th>
                <th>Tasks In Progress</th>
                <th>Tasks Completed</th>
                <th>Estimated Effort Hours</th>
                <th>Actual Effort Hours</th>
                <th>Work Remaining</th>
            </tr>
            {% for pbi in pbi_sprint_current_list %}
            <tr>
                <td> {{ pbi.name }}
                    <form action="{{project.id}}/{{sprint_current.id}}/{{pbi.id}}/create-new-task">
                         <button type="submit"
                                class="btn btn-default">
                         Add Task
                         </button>
                    </form>
                </td>
                <td> {{ pbi.description }} </td>

                 <td>
                    {% for not_yet_started in pbi.tasks_not_yet_started %}
                     <form action="product-backlog/{{pbi.id}}/{{not_yet_started.id}}">
                        <button type="submit"
                                class="btn btn-default">
                            {{ not_yet_started.name }}
                        </button>
                     </form>
                    {% endfor %}
                </td>

                 <td>
                    {% for in_progress in pbi.tasks_in_progress %}
                     <form action="product-backlog/{{pbi.id}}/{{not_yet_started.id}}">
                        <button type="submit"
                                class="btn btn-default">
                            {{ in_progress.name }}
                        </button>
                    </form>
                    {% endfor %}
                </td>

                <td>
                    {% for complete in pbi.tasks_complete %}
                    <form action="product-backlog/{{pbi.id}}/{{not_yet_started.id}}">
                        <button type="submit"
                                class="btn btn-default">
                            {{ complete.name }}
                        </button>
                    </form>
                    {% endfor %}
                </td>
    
                <td> 
                    {{ pbi.tasks_cummulative_effort_hours}} 
                </td>
                <td> 
                    {{ pbi.tasks_actual_effort_hours}} 
                </td>
                <td> 
                    {{ pbi.tasks_work_remaining}} 
                </td>
            </tr>
            {% endfor %}
        </table>

            {% endif%}
        </p>


    <hr>

    <!-- Product Backlog-->
      <p> Product Backlog
          <form action="{{project.id}}/{{product_backlog.id}}/create-new-pbi">
           <button type="submit"
                    class="btn btn-default">
                Add Product Backlog Item
            </button>
        </form>
      </p>

      <table>
            <tr>
                <th>Product Backlog Item Name</th>
                <th>Description</th>
                <th>Story Points</th>
                <th>Status</th>
            </tr>
            {% for pbi in pbis_product_backlog_list %}
            <tr>
                <td> {{ pbi.name }}
                    <form action="product-backlog/pbi/{{pbi.id}}">
                        <button type="submit"
                                class="btn btn-default">
                            edit
                        </button>
                    </form>
                    <form action="product-backlog/pbi/delete-{{pbi.id}}">
                        <button type="submit"
                                class="btn btn-default">
                            delete
                        </button>
                    </form>
                </td>
                <td> {{ pbi.description }} </td>
                <td> {{ pbi.pointEstimate }} </td>
                <td> {{ pbi.status }} </td>
            </tr>
            {% endfor %}
    </table>
    </body>
</html>
