<!DOCTYPE html>
<html>
    <head>
        <title>Project Details</title>
        <h1>Project Details</h1>
    </head>
    <body>
        <p>Completed Sprints</p>
        <!-- Completed sprints code-->
            <ul> {% for sprint in sprint_list_done %}
                <li>{{ sprint.name }} </li>
                <ul> {% for pbi in sprint.productbacklog_set.all %}
                    <li> {{ pbi.name }} </li>
                    <ul> {% for task in pbi %}
                        <li> {{ task.name }}
                                <button type="submit">View Task</button>
                            </form>
                        </li>
                         {% endfor %}
                    </ul>
                     {% endfor %}
                </ul>
                 {% endfor %}
            </ul>
        <p>Current Sprint Backlog {{ sprint_current.name }}</p>
            <ul> {% for pbi in pbi_sprint_current_list %}
                <li> {{ pbi.name }} </li>

                 {% endfor %}
            </ul>
      <p> Product Backlog </p>
          <ul> {% for pbi in pbis_product_backlog_list %}
             <li> {{ pbi.name }}: {{ pbi.pointEstimate }} </li>
            {% endfor %}
          </ul>
            
    </body>
</html>

