{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/template.css' %}">
        <title>New Sprint</title>
        <div class="page-header">
            <h1 style="text-align: center;"><img width="144" src="{% static 'backtrack.svg' %}" alt="Backtrack"/>logged in as {{ user }}</h1>
        </div>
        <style></style>
    </head>
    <body>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit"
                    value="save"
                    class="btn btn-default">
                Save
            </button>
            </form>
        </form>
        <br><br>
        {% if sprint_backlog.pbiList %}
            <table>
                <tr>
                    <th>Sprint Backlog Item Name</th>
                    <th>Description</th>
                    <th>Story Points</th>
                    <th>Status</th>
                    <th>Priority</th>
                </tr>
                {% for pbi in sprint_backlog.pbiList %}
                <tr>
                    <td> {{ pbi.name }} </td>
                    <td> {{ pbi.description }} </td>
                    <td> {{ pbi.pointEstimate }} </td>
                    <td> {{ pbi.status }} </td>
                    <td> {{ pbi.priority }} </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <div>
                This sprint is empty. Add PBIs from the product backlog to populate the sprint backlog.
            </div>
            {% endif %}
            <br>
            <div>
                Once populated, save the sprint by clicking on the save button.
            </div>
        <br>
        <div>
        <p> Product Backlog
            <!--    <form action="{{project.id}}/{{product_backlog.id}}/create-new-pbi">
                 <button type="submit"
                          class="btn btn-default">
                      Add Product Backlog Item
                  </button>
              </form>
            --></p>
      
            {% if product_backlog.pbiList %}
            <table>
                  <tr>
                      <th>Product Backlog Item Name</th>
                      <th>Description</th>
                      <th>Story Points</th>
                      <th>Status</th>
                      <th>Priority</th>
                  </tr>
                  {% for pbi in product_backlog.pbiList %}
                  <tr>
                      <td> {{ pbi.name }}
                          <!--<form action="product-backlog/pbi/{{pbi.id}}">
                              <button type="submit"
                                      class="btn btn-default">
                                  edit
                              </button>
                          </form>
                          <form action="product-backlog/pbi/delete-{{pbi.id}}">
                              <button type="submit"
                                      class="btn btn-default">
                                  delete
                              </button>
                          </form>
                        -->
                      </td>
                      <td> {{ pbi.description }} </td>
                      <td> {{ pbi.pointEstimate }} </td>
                      <td> {{ pbi.status }} </td>
                      <td> {{ pbi.priority }} </td>
                  </tr>
                  {% endfor %}
          </table>
          {% else %}
          <div>
              The product backlog is empty.
          </div>
          {% endif %}
        </div>
    </body>
</html>