{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/template.css' %}">
        <title>New Sprint</title>
        <div class="page-header">
            <h1 style="text-align: center;"><img width="144" src="{% static 'backtrack.svg' %}" alt="Backtrack"/>
            </h1>
            <h2>Logged in as {{ user }}
                <form action="/">
                    <button type="submit">Logout</button>
                </form>
            </h2>
        </div>
        <style></style>
    </head>
    <body>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit"
                    value="save"
                    class="btn btn-default">
                Save
            </button>
            </form>
        </form>
        <br><br>
        {% if sprint_backlog.pbiList %}
            <table>
                <tr>
                    <th>Sprint Backlog Item Name</th>
                    <th>Description</th>
                    <th>Story Points</th>
                    <th>Status</th>
                    <th>Priority</th>
                </tr>
                {% for pbi in sprint_backlog.pbiList %}
                <tr>
                    <td> {{ pbi.name }} </td>
                    <td> {{ pbi.description }} </td>
                    <td> {{ pbi.pointEstimate }} </td>
                    <td> {{ pbi.status }} </td>
                    <td> {{ pbi.priority }} </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <div>
                This sprint is empty. Add PBIs from the Product Backlog to populate the Sprint Backlog.
            </div>
            {% endif %}
            <br>
        <br>
        <div>
        <p> Product Backlog
            </p>
      
            {% if product_backlog.pbiList %}
            <table>
                  <tr>
                      <th>Product Backlog Item Name</th>
                      <th>Description</th>
                      <th>Story Points</th>
                      <th>Status</th>
                      <th>Priority</th>
                  </tr>
                  {% for pbi in product_backlog.pbiList %}
                  <tr>
                      <td> {{ pbi.name }}</td>
                      <td> {{ pbi.description }} </td>
                      <td> {{ pbi.pointEstimate }} </td>
                      <td> {{ pbi.status }} </td>
                      <td> {{ pbi.priority }} </td>
                  </tr>
                  {% endfor %}
          </table>
          {% else %}
          <div>
              The product backlog is empty.
          </div>
          {% endif %}
        </div>
    </body>
</html>